<div class="c-form__item">
  <label class="c-form__label" for="inputText">Text</label>
  <input type="text" class="c-form__text {{modifier_class}}" id="inputText" placeholder="Enter some text">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputSearch">Search</label>
  <input type="search" class="c-form__text -search {{modifier_class}}" id="inputSearch" placeholder="Search">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputTel">Telephone</label>
  <input type="text" class="c-form__text -tel {{modifier_class}}" id="inputTel" placeholder="Enter some text">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputURL">URL</label>
  <input type="url" class="c-form__text -url {{modifier_class}}" id="inputURL" placeholder="Enter a URL">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputEmail">Email address</label>
  <input type="email" class="c-form__text -email {{modifier_class}}" id="inputEmail" placeholder="Enter email">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputPassword">Password</label>
  <input type="password" class="c-form__text -password {{modifier_class}}" id="inputPassword" placeholder="Password">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputDate">Date</label>
  <input type="date" class="c-form__text -date {{modifier_class}}" id="inputDate" placeholder="Enter a date">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputTime">Time</label>
  <input type="time" class="c-form__text -time {{modifier_class}}" id="inputTime" placeholder="Enter a time">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputNumber">Number</label>
  <input type="number" class="c-form__text -number {{modifier_class}}" id="inputNumber" placeholder="Enter a number">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputRange">Range</label>
  <input type="range" class="c-form__text -range {{modifier_class}}" id="inputRange" placeholder="Enter a range">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputColor">Color</label>
  <input type="color" class="c-form__text -color {{modifier_class}}" id="inputColor" placeholder="Enter a color">
</div>
<div class="c-form__item">
  <label class="c-form__label" for="inputFile">File input</label>
  <input type="file" class="c-form__text -file {{modifier_class}}" id="inputFile">
</div>
