<li class="c-comment">
  <div class="c-comment__body" id="#comment-{{ delta }}">
    {% if body %}
      {{ body }}
    {% endif %}
  </div>
  <div class="c-comment__meta">
    <a href="#comment-{{ delta }}">{{ author }}, <time datetime="{{ datetime }}">{{ date }}</time></a>
  </div>
</li>
